@use 'settings';

body {
  background-color: settings.$colour-page-background;
}

.button {
  background-color: settings.$colour-accent;
  color: white;
  border-radius: 6px;
  padding: 6px 8px 5px;
}

.fly-out-toggle {
  background-color: white;
}

.top-nav {
  background-color: white;
}

.fly-out-menu {
  background-color: settings.$colour-text-primary;
  color: white;

  & a {
    color: inherit;
    width: inherit;
  }
}

// Arbitrary, could be anything
.main-content__whatever {
  margin: 24px;
  padding: 24px;
  background-color: white;
  border: 1px solid settings.$colour-furniture;
  border-radius: 6px;
}

.main-content > :last-child {
  margin-bottom: 0;
}
