@use 'settings';

@mixin top-nav-shadow() {
  background-image:linear-gradient(0deg, rgb(233, 235, 240) 0, rgb(207, 216, 220) settings.$top-nav-shadow-height - 1, #fff settings.$top-nav-shadow-height)
}

// Hacky but reliable until support improves https://caniuse.com/css-line-clamp
@mixin clamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin shadow-if-not-menu-page() {
  .page-container:not(.page-container--menu) & {
    @include top-nav-shadow();
  }
}

body {
  background-color: settings.$colour-page-background;
}

.button {
  background-color: settings.$colour-accent;
  color: white;
  border-radius: 6px;
  padding: 6px 8px 5px;
}

.fly-out-toggle,
.top-nav {
  @include shadow-if-not-menu-page();
  background-color: white;
}

.fly-out-menu {
  background-color: settings.$colour-text-primary;
  color: white;

  & a {
    color: inherit;
  }
}

.fly-out-menu-list > li > a {
  @include clamp(2);
}

// Arbitrary, could be anything
.main-content__whatever {
  margin: 24px;
  padding: 24px;
  background-color: white;
  border: 1px solid settings.$colour-furniture;
  border-radius: 6px;
}

.main-content > :last-child {
  margin-bottom: 0;
}

.fly-out-menu__footer__link {
  text-decoration: underline;
}
