@use 'settings';

@mixin top-nav-shadow() {
  background-image:linear-gradient(0deg, rgb(233, 235, 240) 0, rgb(207, 216, 220) settings.$top-nav-shadow-height - 1, #fff settings.$top-nav-shadow-height)
}

body {
  background-color: settings.$colour-page-background;
}

.button {
  background-color: settings.$colour-accent;
  color: white;
  border-radius: 6px;
  padding: 6px 8px 5px;
}

.fly-out-toggle {
  @include top-nav-shadow();
  background-color: white;
}

.top-nav {
  @include top-nav-shadow();
  background-color: white;
}

.fly-out-menu {
  background-color: settings.$colour-text-primary;
  color: white;

  & a {
    color: inherit;
    width: inherit;
  }
}

// Arbitrary, could be anything
.main-content__whatever {
  margin: 24px;
  padding: 24px;
  background-color: white;
  border: 1px solid settings.$colour-furniture;
  border-radius: 6px;
}

.main-content > :last-child {
  margin-bottom: 0;
}
