@use 'sass:map';
@use 'settings';

// FUNCTIONS

@function getMenuConfig($state) {
  $config: ();
  @if $state == 'show' {
    $config: (
      'container-margin-left': 0,
      'menu-translateX': 0,
      'menu-links-display': unset,
    )
  } @else if $state == 'hide' {
    $config: (
      'container-margin-left': settings.$flyout-menu-offscreen-offset,
      'menu-translateX': settings.$flyout-menu-offscreen-offset,
      'menu-links-display': none,
    )
  }
  @return $config;
}

// MIXINS

@mixin flip-menu($state) {
  margin-left: map.get(getMenuConfig($state), 'container-margin-left');

  .fly-out-menu {
    transform: translateX(map.get(getMenuConfig($state), 'menu-translateX'));

    li {
      display:  map.get(getMenuConfig($state), 'menu-links-display');
    }
  }
}

@mixin hide-menu() {
  @include flip-menu(hide);
}

@mixin show-menu() {
  @include flip-menu(show);
}

@mixin transition($property) {
  transition: $property settings.$transition-duration settings.$timing-function;
}

// STYLE RULES

.page-container {
  @include transition(margin-left);
}

.fly-out-menu {
  @include transition(transform);
}

// Show / hide logic

// The viewport is narrow and the user hasn't interacted with the menu control yet, or the user has dismissed the menu
.page-container:not(.page-container--menu),
.page-container[data-menu-shown="false"] {
  @include hide-menu();
}

// The user has invoked the menu
.page-container[data-menu-shown="true"] {
  @include show-menu();
}

// The viewport is wide and the user hasn't dismissed the menu
.page-container:not([data-menu-shown="false"]) {
    @media screen and (min-width: settings.$breakpoint) {
      @include show-menu();
  }
}
