@use 'settings';

@mixin if-supported($feature) {
  @supports (display: $feature) {
    display: $feature;
  }
}

.fly-out-toggle {
  height: settings.$fly-out-icon-side;
  padding-bottom: settings.$top-nav-shadow-height;
  align-items: center;
  justify-content: center;
}

.top-nav {
  height: settings.$fly-out-icon-side;
  padding-bottom: settings.$top-nav-shadow-height;
  @include if-supported(flex);
  align-items: center;
}

.top-nav-list {
  flex-grow: 1;
  @include if-supported(flex);
  align-items: center;
  justify-content: flex-end;
}

.top-nav-list li {
  padding-left: 12px;
  padding-right: 12px;
}

.fly-out-menu {
  height: 100vh;
  width: settings.$flyout-menu-width;
  padding-left: settings.$flyout-menu-inline-padding;
  padding-right: settings.$flyout-menu-inline-padding;
  overflow: scroll;
}

.fly-out-menu-list {
  @include if-supported(flex);
  flex-direction: column;
  justify-content: flex-start;
  padding-top: settings.$flyout-menu-list-block-padding;
  height: calc(100% - #{settings.$flyout-menu-list-block-padding});

  & > li {
    margin-bottom: 24px;

    &:last-child {
      margin-top: auto;
      align-self: center;
    }
  }
}

.main-content {
  // Used with overflow-x: hidden on the <body> to prevent horizontal scroll on narrow viewport with displayed menu
  min-width: 360px;
}
