@use 'settings';
@use 'grid';

body {
  overflow-x: hidden;
}

.fly-out-toggle {
  height: settings.$fly-out-icon-side;
  padding-bottom: settings.$top-nav-shadow-height;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}

.top-nav {
  height: settings.$fly-out-icon-side;
  padding-bottom: settings.$top-nav-shadow-height;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.top-nav-list {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-nav-list li {
  padding-left: 12px;
  padding-right: 12px;
}

.fly-out-menu {
  height: 100vh;
  width: settings.$flyout-menu-width;
  position: sticky;
  top: 0;
  overflow: auto;

}

.fly-out-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: settings.$flyout-menu-list-block-padding;
  // Have these on the list not the container so the scroll bar appears in the right place when the list is long. Need matching on footer.
  padding-left: settings.$flyout-menu-inline-padding;
  padding-right: settings.$flyout-menu-inline-padding;
  height: settings.$flyout-menu-list-height;
  overflow: auto;

  & > li {
    margin-bottom: 24px;
  }
}

.fly-out-menu__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: settings.$flyout-menu-inline-padding;
  padding-right: settings.$flyout-menu-inline-padding;
  margin-top: settings.$flyout-menu-footer-block-margin;
  margin-bottom: settings.$flyout-menu-footer-block-margin;
}

.button--feedback {
  margin-bottom: settings.$feedback-button-bottom-margin;
}

.fly-out-menu__footer__link {
  text-decoration: underline;
}

.main-content {
  // Used with overflow-x: hidden on the <body> to prevent horizontal scroll on narrow viewport with displayed menu
  min-width: 360px;
}
