@use 'settings';
@use 'grid';

body {
  overflow-x: hidden;
}

@mixin padding-if-not-menu-page() {
  .page-container:not(.page-container--menu) & {
    padding-bottom: settings.$top-nav-shadow-height;
  }
}

.fly-out-toggle,
.top-nav {
  @include padding-if-not-menu-page();
  height: settings.$fly-out-icon-side;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.fly-out-toggle {
  width: settings.$fly-out-icon-side;
  justify-content: center;
}

.top-nav-list {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-nav-list li {
  padding-left: 12px;
  padding-right: 12px;
}

.fly-out-menu {
  height: 100vh;
  width: settings.$flyout-menu-width;
  overflow: auto;

  .page-container:not(.page-container--menu) & {
    position: sticky;
    top: 0;
  }
}

.menu-title {
  padding-left: 24px;
}

.fly-out-menu a {
  width: inherit;
}

.fly-out-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: settings.$flyout-menu-list-block-padding;
  // Have these on the list not the container so the scroll bar appears in the right place when the list is long. Need matching on footer.
  padding-left: settings.$flyout-menu-inline-padding;
  padding-right: settings.$flyout-menu-inline-padding;
  height: settings.$flyout-menu-list-height;
  overflow: auto;

  .page-container--menu & {
    overflow: auto;
    height: auto;
  }

  & > li {
    margin-bottom: 24px;
  }
}

.fly-out-menu__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: settings.$flyout-menu-inline-padding;
  padding-right: settings.$flyout-menu-inline-padding;
  margin-top: settings.$flyout-menu-footer-block-margin;
  margin-bottom: settings.$flyout-menu-footer-block-margin;
}

.button--feedback {
  margin-bottom: settings.$feedback-button-bottom-margin;
}

.main-content {
  // Used with overflow-x: hidden on the <body> to prevent horizontal scroll on narrow viewport with displayed menu
  min-width: 360px;
}
