// Don't really do the next 1, used here to illustrate relationships
$flyout-menu-footer-height-including-margins: 96.5px;

$fly-out-icon-side: 60px;
$top-nav-height: 60px;
$colour-accent: rgb(206, 72, 26);
$colour-text-primary: rgb(52, 67, 74);
$colour-furniture: rgb(207, 216, 220);
$colour-page-background: rgb(233, 235, 240);

$flyout-menu-width: 248px;
$flyout-menu-inline-padding: 24px;
$flyout-menu-list-block-padding: 24px;
$flyout-menu-offscreen-offset: -1 * $flyout-menu-width;
$flyout-menu-list-height: calc(100% - #{$flyout-menu-footer-height-including-margins} - #{$flyout-menu-list-block-padding});
$flyout-menu-footer-block-margin: 12px;
$top-nav-shadow-height: 9px;

$feedback-button-bottom-margin: 12px;

$transition-duration: 200ms;
$timing-function: ease-in-out;

$breakpoint: 720px;
