@use 'settings';

@mixin hide-menu() {
  margin-left: settings.$flyout-menu-offscreen-offset;

  .fly-out-menu {
    transform: translateX(settings.$flyout-menu-offscreen-offset);

    a {
      display: none;
    }
  }
}

@mixin show-menu() {
  margin-left: 0;

  .fly-out-menu {
    transform: translateX(0);

    a {
      display: unset;
    }
  }
}

@mixin transition($property) {
  transition: $property settings.$transition-duration settings.$timing-function;
}

.page-container {
  @include transition(margin-left);
}

.fly-out-menu {
  @include transition(transform);
}

// The viewport is narrow and the user hasn't interacted with the menu control yet, or the user has dismissed it
.page-container,
.page-container[data-menu-shown="false"] {
  @include hide-menu();
}

// The user has invoked the menu
.page-container[data-menu-shown="true"] {
  @include show-menu();
}

// The viewport is wide and the user hasn't dismissed it
.page-container:not([data-menu-shown="false"]) {
    @media screen and (min-width: settings.$breakpoint) {
      @include show-menu();
  }
}
