$fly-out-icon-side: 60px;
$top-nav-height: 60px;
$colour-accent: rgb(206, 72, 26);
$colour-text-primary: rgb(52, 67, 74);
$colour-furniture: rgb(207, 216, 220);
$colour-page-background: rgb(233, 235, 240);

$flyout-menu-width: 200px;
$flyout-menu-side-padding: 24px;
$flyout-menu-offscreen-offset: -1 * ($flyout-menu-width + 2 * $flyout-menu-side-padding);

$transition-duration: 125ms;
$timing-function: ease-in-out;

$breakpoint: 720px;
