body { background-color: #ddd; margin: 0; font-family: sans-serif; font-size: 0.875rem; }
ul { list-style: none; padding: 0; margin: 0;}
a { text-decoration: none; }

  $fly-out-icon-side: 60px;
  $top-nav-height: 60px;
  $colour-accent: rgb(206, 72, 26);
  $colour-text-primary: rgb(52, 67, 74);
  $colour-furniture: rgb(207, 216, 220);
  $flyout-menu-width: 200px;
  $flyout-menu-side-padding: 24px;

  $transition-duration: 125ms;
  $timing-function: ease-in-out;

html {
  font-size: 100%;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: auto $fly-out-icon-side 1fr;
  margin-left: -248px;
  transition: margin-left $transition-duration $timing-function;
}

.fly-out-menu {
  padding: $flyout-menu-side-padding;
  width: $flyout-menu-width;
  transform: translateX(-248px);
  transition: transform $transition-duration $timing-function;
}

@media screen and (min-width: 720px) {
  .grid {
    margin-left: 0;
  }
  .fly-out-menu {
    transform: translateX(0);
  }
}

.fly-out-link {
  order: 2;
}
.fly-out-menu {
  order: 1;
}
.top-nav {
  order: 3;
}
.main-content {
  grid-row: 2;
  grid-column: 2 / 4;
}

.fly-out-menu {
  grid-row: 1 / 4;
}

.fly-out-link {
  background-color: white;
  height: $fly-out-icon-side;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-nav {
  background-color: white;
  height: $fly-out-icon-side;
  display: flex;
  align-items: center;
}

.top-nav-list {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-nav-list li {
  padding-left: 12px;
  padding-right: 12px;
}

.button {
  background-color: $colour-accent;
  color: white;
  border-radius: 6px;
  padding: 6px 8px 5px;
}
.button--feedback {
  margin-top: auto;
}

.fly-out-menu {
  background-color: $colour-text-primary;
  color: white;
  height: 100vh;
}

.fly-out-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 95%;
}

.fly-out-menu-list li {
  margin-bottom: 24px;
}

.fly-out-menu-list li:last-child {
  margin-top: auto;
  align-self: center;
}

.fly-out-menu a {
  color: inherit;
  width: inherit;
}

.main-content__whatever {
  margin: 24px;
  padding: 24px;
  background-color: white;
  border: 1px soild $colour-furniture;
  border-radius: 6px;
  height: 50vh;

}
