@use 'settings';
@use 'mixins';
@use 'normalise';
@use 'grid';

body {
  background-color: settings.$colour-page-background;
}

.page-container {
  @include mixins.transition(margin-left);
}

.page-container,
.page-container[data-menu-shown="false"] {
  // While the menu is offscreen, stretch page-container across to the left hand side to take up the space
  margin-left: settings.$flyout-menu-offscreen-offset;
}

.page-container[data-menu-shown="true"] {
  // When the menu is displayed, move the page-container back out of the way to the right
  margin-left: 0;
}

.fly-out-menu {
  padding: settings.$flyout-menu-side-padding;
  width: settings.$flyout-menu-width;

  // negative translation ensures the menu is offscreen
  transform: translateX(settings.$flyout-menu-offscreen-offset);
  @include mixins.transition(transform);
}

.page-container[data-menu-shown="true"] .fly-out-menu {
  // Reset the translation when the viewport's wide enough to show the menu
  transform: translateX(0);
}

@media screen and (min-width: settings.$breakpoint) {
  .page-container {
    &:not([data-menu-shown="false"]) {
      // When the menu is displayed, move the page-container back out of the way to the right
      margin-left: 0;

      & .fly-out-menu {
        // Reset the translation when the viewport's wide enough to show the menu
        transform: translateX(0);
        & a {
          display: unset;
        }
      }
    }
  }
}

.fly-out-toggle {
  @include mixins.top-nav-aesthetic();
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-nav {
  @include mixins.top-nav-aesthetic();
  display: flex;
  align-items: center;
}

.top-nav-list {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-nav-list li {
  padding-left: 12px;
  padding-right: 12px;
}

.button {
  background-color: settings.$colour-accent;
  color: white;
  border-radius: 6px;
  padding: 6px 8px 5px;
}

.fly-out-menu {
  background-color: settings.$colour-text-primary;
  color: white;
  height: 100vh;

  & a {
    color: inherit;
    width: inherit;

    // Prevent links being tabable on offscreen menu. Is there a better way?
    display: none;

    .page-container[data-menu-shown="true"] & {
      // reinstate tabbable links on displayed menu
      display: unset;
    }
  }
}

.fly-out-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 95%;

  & > li {
    margin-bottom: 24px;

    &:last-child {
      margin-top: auto;
      align-self: center;
    }
  }
}

// Arbitrary, could be anything
.main-content__whatever {
  margin: 24px;
  padding: 24px;
  background-color: white;
  border: 1px solid settings.$colour-furniture;
  border-radius: 6px;
  height: 50vh;

}
