html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 0.875rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.page-container {
  display: grid;
  grid-template-columns: auto 60px 1fr;
}

.fly-out-toggle {
  order: 2;
}

.fly-out-menu {
  order: 1;
  grid-row: 1/4;
  align-self: start;
}

.top-nav {
  order: 3;
}

.main-content {
  grid-row: 2;
  grid-column: 2/4;
}

body {
  overflow-x: hidden;
}

.fly-out-toggle {
  height: 60px;
  padding-bottom: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}

.top-nav {
  height: 60px;
  padding-bottom: 9px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.top-nav-list {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-nav-list li {
  padding-left: 12px;
  padding-right: 12px;
}

.fly-out-menu {
  height: 100vh;
  width: 200px;
  padding-left: 24px;
  padding-right: 24px;
  position: sticky;
  top: 0;
  overflow: scroll;
}

.fly-out-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 24px;
  height: calc(100% - 24px);
}
.fly-out-menu-list > li {
  margin-bottom: 24px;
}
.fly-out-menu-list > li:last-child {
  margin-top: auto;
  align-self: center;
}

.main-content {
  min-width: 360px;
}

body {
  background-color: #e9ebf0;
}

.button {
  background-color: #ce481a;
  color: white;
  border-radius: 6px;
  padding: 6px 8px 5px;
}

.fly-out-toggle {
  background-image: linear-gradient(0deg, #e9ebf0 0, #cfd8dc 8px, #fff 9px);
  background-color: white;
}

.top-nav {
  background-image: linear-gradient(0deg, #e9ebf0 0, #cfd8dc 8px, #fff 9px);
  background-color: white;
}

.fly-out-menu {
  background-color: #34434a;
  color: white;
}
.fly-out-menu a {
  color: inherit;
  width: inherit;
}

.main-content__whatever {
  margin: 24px;
  padding: 24px;
  background-color: white;
  border: 1px solid #cfd8dc;
  border-radius: 6px;
}

.main-content > :last-child {
  margin-bottom: 0;
}

.page-container {
  transition: margin-left 200ms ease-in-out;
}

.fly-out-menu {
  transition: transform 200ms ease-in-out;
}

.page-container,
.page-container[data-menu-shown=false] {
  margin-left: -248px;
}
.page-container .fly-out-menu,
.page-container[data-menu-shown=false] .fly-out-menu {
  transform: translateX(-248px);
}
.page-container .fly-out-menu a,
.page-container[data-menu-shown=false] .fly-out-menu a {
  display: none;
}

.page-container[data-menu-shown=true] {
  margin-left: 0;
}
.page-container[data-menu-shown=true] .fly-out-menu {
  transform: translateX(0);
}
.page-container[data-menu-shown=true] .fly-out-menu a {
  display: unset;
}

@media screen and (min-width: 720px) {
  .page-container:not([data-menu-shown=false]) {
    margin-left: 0;
  }
  .page-container:not([data-menu-shown=false]) .fly-out-menu {
    transform: translateX(0);
  }
  .page-container:not([data-menu-shown=false]) .fly-out-menu a {
    display: unset;
  }
}

/*# sourceMappingURL=styles.css.map */
